# Turso DB access tokens
# Note that the Turso URL should use https://...
TURSO_URL=https://tasks-waimea-obass.aws-ap-northeast-1.turso.io
TURSO_KEY=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NDk1MjM2MzYsImlkIjoiMDhiZmIwNTMtYmU3Mi00MmI4LTk5ZTctNTQyYWE5MzlhMjU1IiwicmlkIjoiOTA3NWQzZjQtYTQ1MS00NTY5LWJiOWEtMjI1YWFjZDQ4YjRhIn0.ZBFvcsFNe7Wl1mq21DjaGJTrR_MKxP4OLYHF0h_JlRXCF9srKAEhz6l9ivnbZiUopFALkkBJlhHbUxj6ygI_Cw

# Secret key to isolate session data
SESSION_KEY=pliggles
