{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

Flask Todo

{% endblock %}


{% block content %}

    <h1>Flask Demo App with Turso DB</h1>

    <p>This is a simple Flask app that connects to a Turso database to save and retrieve data. This can be used as the basis of your web app.</p>

    <p>It includes...</p>

    <ul>
        <li>Example routes</li>
        <li>Example static pages</li>
        <li>Missing page and server error pages</li>
        <li>DB connection and error handling</li>
        <li>Example CRUD actions: Create and Delete</li>
        <li>Flash messages for information</li>
    </ul>

  <section id="tasks">
      {% for task in tasks %}
      <p href="/task/{{ task.id }}">

  {# <div class="overflow-auto">
    <table>
      <span class="name name -{{ task.id }}" >Task Name 
        {{ task.name }}
        </span>
        </tr> <tr>
    <span class="priority priority -{{ task.id }}" > Task Priority
      {{ task.priority }}</span>
</tr><tr>
      <span class="timetable timetable -{{ task.id }}" > Time
      {{ task.timetable }}</span>
</tr> <tr>
      <span class="complete complete -{{ task.id }}" > Completion
      {{ task.complete }}</span>
      </tr>
    </table> #}
    <table style="width:100%">
  <tr>
    <th>Task Name</th>
    <th>Priority</th>
    <th>Time Added</th>
    <th>Completion</th>
  </tr>
  <tr>
    <td><a><span class="name name -{{ task.id }}" >
    {{ task.name }}</span></a></td>

    <td><a><span class="priority priority -{{ task.id }}">
    {{ task.priority }}</span></a></td>

    <td><a><span class="timetable timetable -{{ task.id }}">
      {{ task.timetable }}</span></a></td>

      <td><a><span class="complete complete -{{ task.id }}">
      {{ task.complete }}</span></a></td>
  </tr>
  <tr>
    <td></td>

  </tr>
</table>
  </div>





    {% endfor %}

  </section>

  <form>
  <div><strong>Be cool and add a new task here v</strong></div>
  <div><label>Name of Task</label>
  <input class="name"></div>
  <div><label>Priority</label></div>
  </form>
  <input class="priority"></input>
  <a><button href="/add">
  Add Task</button></a>

{% endblock %}


